.feed-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 10vh; 
 
}



.post{
    height: 50vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    border: 3px solid #fff;
    backdrop-filter: blur(10px); 
    padding-top: 30px;


}

.post-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.post-btn{
    width: 100%;
    height: 20%;
    display: grid; 
    align-items: center;

}

.btn-save{
    color: red;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    grid-row-end: 1;
    grid-column-end: 3;
}

.btn-saved{
    color: red;
    background-color: transparent;
    cursor: pointer;
    font-size: 2em;
    visibility: hidden;
    grid-row-end: 1;
    grid-column-end: 3;
}

.playing{
    border: 6px solid lightgreen;
}


@media screen and (min-width:1400px){
    .post{
        width: 40vw;
        height: 60vh;
    }

    .btn-save{
        font-size: 3em;
    }

    .btn-saved{
        font-size: 3em;
    }
    
}

@media screen and (max-width:500px){
    .post{
        width: 80vw;
        height: 60vh;
    }
    
}
